# **Data Loading Workflow Guide**
--------------------------------------------------------

### Welcome to the Workflow Guide for Data Loading!

In this workflow guide, we will learn how can load our data using datalab.

Currently, in v0.1, datalab allows you to read these tabular data files:

- csv files
- JSON
- parquet
- Excel (XLSX, XLS)

We will see how we can load each of these data files using datalab.

### **Importing Libraries**

To begin with, we will be importing the library:

- datalab as dl

In [ ]:
import datalab as dl

### **Loading the Data**

DataLab allows us to load tabular data using ``load_tabular()`` method from datalab.

We can either **import** ``load_tabular`` directly from datalab:

OR

We can import ``load_tabular`` using an alias like this:

**dl.load_tabular('sample.csv')**



This method auto-detects your file type and returns a pandas DataFrame.

#### CSV Files

We can load our csv files using ``load_tabular()`` method from datalab like this:

In [5]:
from datalab import load_tabular

df = load_tabular('transactions_data.csv')

In [7]:
df.head()

,transaction_id,customer_id,transaction_type,amount,merchant,timestamp,currency,age,annual_income,segment,account_open_date
0,TXN_X2KNWJ2OR8,CUST_87JLGTVXJJDH,POS,26.03,Best Buy,2023-12-23 04:29:39,GBP,79,31799.745545,Mass Market,2017-08-24
1,TXN_YUZJ0A18JH,CUST_W30Y28ZBJJAC,INTEREST,5.77,NaN,2020-12-24 13:24:00,JPY,79,14830.210007,Mass Market,2012-07-11
2,TXN_11RXV5KZVV,CUST_IM6QK00HII84,WIRE,2012.78,NaN,2022-02-14 04:41:36,USD,52,31891.294713,High Net Worth,2018-06-23
3,TXN_LY4SVRTPE9,CUST_K9M1D0RIEISH,ACH,75.43,NaN,2022-06-14 10:00:03,USD,66,77991.347853,Affluent,2014-03-06
4,TXN_O7588U9MGT,CUST_Y28TKJWJWNJE,FEE,7.95,NaN,2020-02-21 00:35:56,USD,62,46196.849631,Mass Market,2017-06-03

#### Excel Files

We can also load Excel files (.xlsx) using ``load_tabular()`` method.

In [9]:
df=load_tabular('transactions_data.xlsx')

In [10]:
df.head()

,transaction_id,customer_id,transaction_type,amount,merchant,timestamp,currency,age,annual_income,segment,account_open_date
0,TXN_X2KNWJ2OR8,CUST_87JLGTVXJJDH,POS,26.03,Best Buy,2023-12-23 04:29:39,GBP,79,31799.745545,Mass Market,2017-08-24
1,TXN_YUZJ0A18JH,CUST_W30Y28ZBJJAC,INTEREST,5.77,NaN,2020-12-24 13:24:00,JPY,79,14830.210007,Mass Market,2012-07-11
2,TXN_11RXV5KZVV,CUST_IM6QK00HII84,WIRE,2012.78,NaN,2022-02-14 04:41:36,USD,52,31891.294713,High Net Worth,2018-06-23
3,TXN_LY4SVRTPE9,CUST_K9M1D0RIEISH,ACH,75.43,NaN,2022-06-14 10:00:03,USD,66,77991.347853,Affluent,2014-03-06
4,TXN_O7588U9MGT,CUST_Y28TKJWJWNJE,FEE,7.95,NaN,2020-02-21 00:35:56,USD,62,46196.849631,Mass Market,2017-06-03

#### Parquet Files

We can load parquet files (.parquet) using ``load_tabular()`` method like this:

In [11]:
df = load_tabular('transactions_data.parquet')

In [12]:
df.head()

,transaction_id,customer_id,transaction_type,amount,merchant,timestamp,currency,age,annual_income,segment,account_open_date
0,TXN_X2KNWJ2OR8,CUST_87JLGTVXJJDH,POS,26.03,Best Buy,2023-12-23 04:29:39,GBP,79,31799.745545,Mass Market,2017-08-24
1,TXN_YUZJ0A18JH,CUST_W30Y28ZBJJAC,INTEREST,5.77,None,2020-12-24 13:24:00,JPY,79,14830.210007,Mass Market,2012-07-11
2,TXN_11RXV5KZVV,CUST_IM6QK00HII84,WIRE,2012.78,None,2022-02-14 04:41:36,USD,52,31891.294713,High Net Worth,2018-06-23
3,TXN_LY4SVRTPE9,CUST_K9M1D0RIEISH,ACH,75.43,None,2022-06-14 10:00:03,USD,66,77991.347853,Affluent,2014-03-06
4,TXN_O7588U9MGT,CUST_Y28TKJWJWNJE,FEE,7.95,None,2020-02-21 00:35:56,USD,62,46196.849631,Mass Market,2017-06-03

#### JSON data

We can load JSON records using ``load_tabular`` method of datalab.

In [15]:
df = load_tabular('financial_data.json')  # Loading a sample dataset

In [16]:
df.head()

,transaction_id,date,account,transaction_type,amount,currency,description
0,T00001,2025-03-14,Savings,debit,4095.11,USD,Stock purchase
1,T00002,2025-08-27,Investment,debit,4711.48,EUR,Stock purchase
2,T00003,2025-12-11,Investment,credit,2256.21,USD,Restaurant
3,T00004,2025-04-28,Checking,credit,2654.34,USD,Grocery shopping
4,T00005,2025-02-28,Credit Card,credit,4089.81,EUR,Online subscription

**Great!**

This is how you can successfully load your tabular data files using datalab.