# **MISSING DATA GUIDE**

In [1]:
import DataLab as dl
import pandas as pd
import numpy as np

In [2]:
df= dl.load_tabular('synth-data.csv')
df=dl.ColumnConverter(df, ['loan_amount']).to_numerical()
df.head()

ColumnConverter initialized with columns: ['loan_amount']

,age,income,expenses,savings,loan_amount,credit_score,num_of_dependents,years_at_job,risk_score
0,56.0,73892.871297,55599.652884,17417.103660,18809.367363,727.914047,0.0,22.0,0.132589
1,69.0,62617.964801,30006.449742,28868.981712,14792.728481,740.039311,3.0,0.0,0.118505
2,46.0,47897.329539,25023.236338,24674.446000,13678.633414,703.442518,2.0,13.0,0.235282
3,NaN,49346.645711,22799.815975,NaN,5425.383265,623.241966,5.0,4.0,0.145748
4,60.0,167409.013096,124105.981773,44924.782142,30292.054774,698.567366,0.0,0.0,0.000000

In [3]:
df.columns

Index(['age', 'income', 'expenses', 'savings', 'loan_amount', 'credit_score',
       'num_of_dependents', 'years_at_job', 'risk_score'],
      dtype='object')

In [4]:
dl.MissingnessDiagnosis(df).show_missing_stats('percent')

Percentage of missing data in each column

age                  10.7069
income                5.5229
expenses              6.4471
savings               7.9482
loan_amount           7.9393
credit_score          5.7451
num_of_dependents    11.9290
years_at_job          9.6629
risk_score           14.6630
dtype: float64

In [5]:
dl.Diagnosis(df).check_skewness()

Skewness in each column of the DataFrame

age                   0.000004
income               12.259873
expenses              5.830766
savings               2.243040
loan_amount           1.033819
credit_score         -0.010213
num_of_dependents    -0.000796
years_at_job         -0.001546
risk_score            0.573248
dtype: float64

In [6]:
df[['credit_score', 'years_at_job', 'risk_score']] = dl.MissingHandler(df, ['credit_score', 'years_at_job', 'risk_score']).fill_with_mean()

Missing Handler initialized with columns: ['credit_score', 'years_at_job', 'risk_score']

In [7]:
df[['age','income', 'expenses', 'savings', 'loan_amount','num_of_dependents']] = dl.MissingHandler(df, ['age','income', 'expenses', 'savings', 'loan_amount','num_of_dependents']).fill_with_median()

Missing Handler initialized with columns: ['age', 'income', 'expenses', 'savings', 'loan_amount', 'num_of_dependents']

In [8]:
df[['age','num_of_dependents', 'years_at_job']]=dl.DtypeConverter(df, ['age','num_of_dependents', 'years_at_job']).float64_to_int64()

DtypeConverter initialized with columns: ['age', 'num_of_dependents', 'years_at_job']

In [9]:
df=dl.NumericalCleaner(df).round_off(2)

NumericalCleaner initialized with columns: ['age', 'income', 'expenses', 'savings', 'loan_amount', 'credit_score', 'num_of_dependents', 'years_at_job', 'risk_score']

In [10]:
pd.options.display.float_format = '{:6f}'.format

data_max, data_min= df.max(), df.min()
n=len(df)

Range = data_max - data_min

bin_width = Range/n
bin_width

age                 0.000062
income              5.741052
expenses            2.057753
savings             0.371459
loan_amount         0.049601
credit_score        0.000387
num_of_dependents   0.000005
years_at_job        0.000040
risk_score          0.000001
dtype: float64

## **sturges**

In [11]:
b=np.ceil(np.log2(n)+1)
Range/b

age                      2.952381
income              273383.411429
expenses             97988.246667
savings              17688.531905
loan_amount           2361.947143
credit_score            18.406190
num_of_dependents        0.238095
years_at_job             1.904762
risk_score               0.027619
dtype: float64

## **sqrt**

In [12]:
Range/np.ceil(np.sqrt(n))

age                    0.062000
income              5741.051640
expenses            2057.753180
savings              371.459170
loan_amount           49.600890
credit_score           0.386530
num_of_dependents      0.005000
years_at_job           0.040000
risk_score             0.000580
dtype: float64

## **rice**

In [13]:
Range/np.ceil(2 * n ** (1/3))

age                     0.310000
income              28705.258200
expenses            10288.765900
savings              1857.295850
loan_amount           248.004450
credit_score            1.932650
num_of_dependents       0.025000
years_at_job            0.200000
risk_score              0.002900
dtype: float64

## **scott**

In [14]:
3.5 * ((dl.Statistics(df).std_dev()) / (n ** (1/3)))

age                    0.600687
income              3290.479822
expenses            1471.617490
savings              742.971777
loan_amount          289.270668
credit_score           1.697273
num_of_dependents      0.056415
years_at_job           0.393237
risk_score             0.004375
dtype: float64

In [15]:
(dl.Statistics(df).IQR()) / n ** (1/3)

age                   0.280000
income              522.230300
expenses            339.621625
savings             192.168475
loan_amount         101.438200
credit_score          0.628000
num_of_dependents     0.030000
years_at_job          0.180000
risk_score            0.002200
dtype: float64

In [ ]:
from DataLab import Diagnosis
from DataLab import Statistics