# **Column Type Detection & Conversion Workflow Guide**
--------------------------------------------------------

### Welcome to the Workflow Guide for Column Type Detection and Conversion!

In this workflow guide, we will explore how we can do column type detection and conversion using datalabx.

### **Importing Libraries**

To begin with, we will be importing the library:

- datalabx as dl

In [1]:
import datalabx as dl

### **Loading the Data**

In [2]:
from datalabx import load_tabular

df=load_tabular('messy_dataset.csv')  # our synthetic dataset

### **Diagnosing the Data**

In [3]:
from datalabx import Diagnosis

diagnosis = Diagnosis(df)

Let us check what our data looks like, its shape and also what column types we have.

In [4]:
diagnosis.data_preview(5)

,age,income,expenses,debt,score,savings_ratio,gender,region,membership_type,subscription_status,signup_date,last_active
0,45.960569836134795,tpUwb,21337.20758558362,2077881.1645985672,49.015507649186574,0.43115855636906564,M,East,vip,inactive,2019-10-23,2019-11-05
1,38.340828385945784,17182.44345210847,3621.2092817197617,3752.959576902923,60.75904929703295,0.7892494573421452,M,East,basic,active,2019-10-14,2021-04-11
2,NXlMl,23497.04853541588,16516.059770785752,NaN,NaN,0.29710066581800887,M,East,basic,active,2015-05-07,2017-02-09
3,58.2763582768963,10510.744673253303,8219.049415817683,9614.040727545927,70.71124084031835,0.2180335769422026,F,West,basic,active,2013-10-06,2015-03-22
4,37.19015950331997,18865.239961809577,NaN,11116.85061890834,34.32423437519151,NaN,M,West,basic,active,INVALID,INVALID

In [5]:
summary = diagnosis.data_summary()

In [6]:
summary['shape']

(2040000, 12)

In [7]:
summary['columns']

['age',
 'income',
 'expenses',
 'debt',
 'score',
 'savings_ratio',
 'gender',
 'region',
 'membership_type',
 'subscription_status',
 'signup_date',
 'last_active']

In [8]:
summary['dtypes']

age                    object
income                 object
expenses               object
debt                   object
score                  object
savings_ratio          object
gender                 object
region                 object
membership_type        object
subscription_status    object
signup_date            object
last_active            object
dtype: object

### **Column Type Detection:**

We can detect what type of columns we have in our DataFrame using ``detect_column_types()`` method from Diagnosis class.

This function returns a dictionary of columns and their column type.

In [9]:
diagnosis.detect_column_types()

{'Numerical': [],
 'Datetime': [],
 'Categorical': ['age',
  'income',
  'expenses',
  'debt',
  'score',
  'savings_ratio',
  'gender',
  'region',
  'membership_type',
  'subscription_status',
  'signup_date',
  'last_active']}

We can see that all columns have been identified as **Categorical** type columns.

However, when we compare this to the preview of our DataFrame, we can see that some of them are **Numerical**, some are **Categorical** and a few **Datetime** type columns.

Following are the correct types of columns in the DataFrame:

1. **Numerical**: ['age', 'income', 'expenses', 'debt', 'score', 'savings_ratio']

2. **Categorical**: ['gender', 'region', 'membership_type', 'subscription_status']

3. **Datetime**: ['signup_date', 'last_active']

We can convert the incorrectly identified to correct ones, by importing the ``ColumnConverter`` class from datalabx.

In [10]:
from datalabx import ColumnConverter


### **IMPORTANT:**

All classes in datalabx, whether they are the Column Converters, Backend Converters, Data Visualizers, Cleaners, Preprocessors, or Diagnosis etc..

All of them accept specific columns you wish to work with, otherwise, they apply operations to all columns of the DataFrame.

And for this dataset, we definitely may not be doing that, otherwise everything that is not a number, will be converted into NAN (Not a Number).

That is why we will be directly mentioning the list columns we wish to convert to these specific column types - **Numerical**, **Categorical** or **Datetime**.

### **Numerical Type Conversion:**

To convert incorrectly identified columns into numerical columns, we will be using ``to_numerical()`` method, from ``ColumnConverter`` class of datalabx.

This will return a ``pd.DataFrame``, A pandas DataFrame of columns converted into numeric, along with rest of the DataFrame that is not numeric.

In [11]:
# converting columns into Numerical

df = ColumnConverter(df, columns=['age', 'income', 'expenses', 'debt', 'score', 'savings_ratio']).to_numerical()

ColumnConverter initialized with columns: ['age', 'income', 'expenses', 'debt', 'score', 'savings_ratio']

Let us verify that the conversion worked.

Let us see the datatypes.

In [12]:
# using the Diagnosis class to pass the updated dataframe with numeric columns, and detecting column types 
Diagnosis(df).detect_column_types()

{'Numerical': ['age', 'income', 'expenses', 'debt', 'score', 'savings_ratio'],
 'Datetime': [],
 'Categorical': ['gender',
  'region',
  'membership_type',
  'subscription_status',
  'signup_date',
  'last_active']}

We can see that the columns passed in ``ColumnConverter`` class have successfully converted those columns into numbers. 

The datatype of those columns is reflecting as **float64**, which is a numeric datatype.

### **Categorical Type Conversion:**

To convert incorrectly identified columns into categorical columns, we will be using ``to_categorical()`` method, from ``ColumnConverter`` class of datalabx.

However, we would be skipping this method for this DataFrame since categorical columns are correctly identified.

### **Datetime Type Conversion:**

To convert incorrectly identified columns into datetime columns, we will be using ``to_datetime()`` method, from ``ColumnConverter`` class of datalabx.

This will return a ``pd.DataFrame``, A pandas DataFrame of columns converted into datetime columns, along with rest of the DataFrame that is not datetime type.

In [13]:
df = ColumnConverter(df, columns=['signup_date', 'last_active']).to_datetime()

ColumnConverter initialized with columns: ['signup_date', 'last_active']

In [14]:
# using the Diagnosis class to pass the updated dataframe, and detecting column types 
Diagnosis(df).detect_column_types()

{'Numerical': ['age', 'income', 'expenses', 'debt', 'score', 'savings_ratio'],
 'Datetime': ['signup_date', 'last_active'],
 'Categorical': ['gender', 'region', 'membership_type', 'subscription_status']}

**Perfect!**

We can see that we have been able to successfully convert incorrectly identified columns into correct ones.

However, there is something very important that we will explore now.

### **Very Important**

To show what it is and why it is important, we are going to load **another very messy dataset**.

In [15]:
# Loading the Data

messy_df = load_tabular('Ultimate_dirty_dataset.csv')

In [16]:
# Diagnosing the Data

Diagnosis(messy_df).data_preview(20)

,user_id,age,gender,account_created_at,last_seen_at,account_closed_at,country_code,city,email,phone,plan_tier,billing_amount,currency,event_time,event_type,session_length_sec,feedback_score,notes
0,1,21,M,2015-07-25 00:00:00,2017-07-04,NaN,US,City_616,NaN,NaN,basic,46.68,NaN,2024-05-19 21:02:00,click,363.110570,2.0,NaN
1,2,65,M,2018-11-10 00:00:00,2021-03-03,NaN,UK,City_1220,user2@example.com,1.475936e+10,free,-1.00,USD,2018-08-07 11:24:00,login,0.000000,3.0,NaN
2,3,57,NaN,2018-01-17 00:00:00,2018-08-25,NaN,US,City_5924,NaN,NaN,basic,61.31,INR,2024-12-09 23:47:00,purchase,127.375824,2.0,NaN
3,4,44,F,2018-06-20 00:00:00,2019-05-05,NaN,DE,City_5472,user4@example.com,1.243738e+10,pro,74.66,USD,2021-06-27 18:42:00,login,-1.000000,3.0,NaN
4,5,43,F,2019-03-10 00:00:00,2022-12-28,NaN,CA,City_5347,NaN,NaN,basic,0.00,NaN,2018-10-14 13:53:00,logout,289.892775,-1.0,NaN
5,6,70,M,2018-07-08 00:00:00,2022-07-05,NaN,IN,City_4353,user6@example.com,1.764699e+10,basic,34.32,EUR,2020-08-16 08:33:00,click,648.635141,NaN,NaN
6,7,21,M,2018-06-17 00:00:00,2022-02-13,NaN,DE,City_5712,none,NaN,pro,6.41,USD,NaN,logout,280.832785,3.0,NaN
7,8,60,M,2021-07-06 00:00:00,2024-06-26,2024-07-11 00:00:00,NaN,City_6525,user8@example.com,1.454826e+10,free,56.48,INR,2020-08-23 00:24:00,login,370.928378,2.0,NaN
8,9,28,F,2022-08-18 00:00:00,2025-05-30,NaN,NaN,City_3517,NaN,NaN,pro,58.55,USD,2021-09-05 00:05:00,click,371.456613,3.0,Bad UX
9,10,22,M,2023-07-27 00:00:00,2024-06-18,NaN,NaN,City_6956,NaN,NaN,basic,28.81,USD,2019-09-04 18:20:00,ERROR,209.346019,3.0,NaN
10,11,49,M,2020-05-22 00:00:00,2022-07-16,2022-09-11 00:00:00,US,City_5191,user11@example.com,1.443582e+10,free,46.28,USD,2018-07-24 19:31:00,ERROR,266.222484,5.0,NaN
11,12,78,F,UNKNOWN_DATE,NaN,NaN,US,City_2247,none,1.838258e+10,free,58.85,USD,NaN,ERROR,0.000000,3.0,NaN
12,13,63,F,2015-05-23 00:00:00,2015-07-30,2016-01-21 00:00:00,US,City_1927,user13@example.com,1.668452e+10,NaN,68.51,INR,2018-12-13 03:59:00,purchase,298.436304,3.0,.
13,14,64,F,2023-06-19 00:00:00,2026-02-07,NaN,IN,City_4418,user14@example.com,1.302826e+10,NaN,61.98,USD,2024-04-21 07:33:00,logout,294.113950,3.0,NaN
14,15,61,M,2021-03-30 00:00:00,2024-09-05,2024-12-24 00:00:00,NaN,City_5977,NaN,NaN,free,41.99,NaN,2018-12-01 00:41:00,click,518.860086,4.0,NaN
15,16,66,M,2021-05-25 00:00:00,2024-11-14,CLOSED_UNKNOWN,US,City_336,user16@example.com,1.414761e+10,pro,53.19,NaN,2020-12-20 11:26:00,login,235.391323,NaN,NaN
16,17,48,F,2019-09-24 00:00:00,2020-10-16,NaN,US,City_7230,NaN,NaN,NaN,54.40,INR,2023-01-31 03:48:00,ERROR,628.769202,4.0,Great service
17,18,24,F,2022-06-15 00:00:00,2023-12-31,NaN,CA,City_6936,NaN,NaN,pro,46.10,INR,2020-08-12 16:21:00,logout,298.485780,NaN,NaN
18,19,69,F,2015-07-30 00:00:00,2016-04-05,NaN,NaN,City_5044,user19@example.com,1.402160e+10,NaN,35.21,USD,2023-08-16 20:13:00,logout,420.852723,4.0,NaN
19,20,-999,F,2019-04-01 00:00:00,2019-09-19,NaN,NaN,City_6451,user20@example.com,1.651897e+10,basic,92.38,INR,2018-01-22 08:17:00,ERROR,329.236584,4.0,NaN

We can see that in this dataset, we have:

-  **Numerical Columns**: ``['age', 'billing_amount', 'session_length_sec', 'feedback_score']``

- **Categorical Columns**: ``['user_id', 'gender', 'country_code', 'city', 'email', 'phone','plan_tier', 'currency', 'event_type', 'notes']``

- **Datetime Columns**: ``['account_created_at', 'last_seen_at', 'account_closed_at', 'event_time']``

Okay.

But, how is this important?

Let us first detect the datatypes of this dataset:

In [17]:
messy_data_summary = Diagnosis(messy_df).data_summary()
messy_data_summary['dtypes']

user_id                 int64
age                    object
gender                 object
account_created_at     object
last_seen_at           object
account_closed_at      object
country_code           object
city                   object
email                  object
phone                 float64
plan_tier              object
billing_amount        float64
currency               object
event_time             object
event_type             object
session_length_sec    float64
feedback_score        float64
notes                  object
dtype: object

We can see that **Datetime Columns** ['account_created_at', 'last_seen_at', 'account_closed_at', 'event_time'] have been identified as '**object**' datatype.

That means they are being considered as text.

Well, so what? 

We can just simply convert them to **Datetime** using ``ColumnConverter``, right?

Let us try converting them to datetime type:

In [21]:
from datalabx import ColumnConverter

messy_df = ColumnConverter(messy_df, ['account_created_at', 'last_seen_at', 'account_closed_at', 'event_time']).to_datetime()

ColumnConverter initialized with columns: ['account_created_at', 'last_seen_at', 'account_closed_at', 'event_time']

We have now converted these columns into **Datetime** and now let us verify if they have been converted, by checking the datatypes.

In [22]:
messy_df.head(20)

,user_id,age,gender,account_created_at,last_seen_at,account_closed_at,country_code,city,email,phone,plan_tier,billing_amount,currency,event_time,event_type,session_length_sec,feedback_score,notes
0,1,21,M,2015-07-25,2017-07-04,NaT,US,City_616,NaN,NaN,basic,46.68,NaN,2024-05-19 21:02:00,click,363.110570,2.0,NaN
1,2,65,M,2018-11-10,2021-03-03,NaT,UK,City_1220,user2@example.com,1.475936e+10,free,-1.00,USD,2018-08-07 11:24:00,login,0.000000,3.0,NaN
2,3,57,NaN,2018-01-17,2018-08-25,NaT,US,City_5924,NaN,NaN,basic,61.31,INR,2024-12-09 23:47:00,purchase,127.375824,2.0,NaN
3,4,44,F,2018-06-20,2019-05-05,NaT,DE,City_5472,user4@example.com,1.243738e+10,pro,74.66,USD,2021-06-27 18:42:00,login,-1.000000,3.0,NaN
4,5,43,F,2019-03-10,2022-12-28,NaT,CA,City_5347,NaN,NaN,basic,0.00,NaN,2018-10-14 13:53:00,logout,289.892775,-1.0,NaN
5,6,70,M,2018-07-08,2022-07-05,NaT,IN,City_4353,user6@example.com,1.764699e+10,basic,34.32,EUR,2020-08-16 08:33:00,click,648.635141,NaN,NaN
6,7,21,M,2018-06-17,2022-02-13,NaT,DE,City_5712,none,NaN,pro,6.41,USD,NaT,logout,280.832785,3.0,NaN
7,8,60,M,2021-07-06,2024-06-26,2024-07-11,NaN,City_6525,user8@example.com,1.454826e+10,free,56.48,INR,2020-08-23 00:24:00,login,370.928378,2.0,NaN
8,9,28,F,2022-08-18,2025-05-30,NaT,NaN,City_3517,NaN,NaN,pro,58.55,USD,2021-09-05 00:05:00,click,371.456613,3.0,Bad UX
9,10,22,M,2023-07-27,2024-06-18,NaT,NaN,City_6956,NaN,NaN,basic,28.81,USD,2019-09-04 18:20:00,ERROR,209.346019,3.0,NaN
10,11,49,M,2020-05-22,2022-07-16,2022-09-11,US,City_5191,user11@example.com,1.443582e+10,free,46.28,USD,2018-07-24 19:31:00,ERROR,266.222484,5.0,NaN
11,12,78,F,NaT,NaT,NaT,US,City_2247,none,1.838258e+10,free,58.85,USD,NaT,ERROR,0.000000,3.0,NaN
12,13,63,F,2015-05-23,2015-07-30,2016-01-21,US,City_1927,user13@example.com,1.668452e+10,NaN,68.51,INR,2018-12-13 03:59:00,purchase,298.436304,3.0,.
13,14,64,F,2023-06-19,2026-02-07,NaT,IN,City_4418,user14@example.com,1.302826e+10,NaN,61.98,USD,2024-04-21 07:33:00,logout,294.113950,3.0,NaN
14,15,61,M,2021-03-30,2024-09-05,2024-12-24,NaN,City_5977,NaN,NaN,free,41.99,NaN,2018-12-01 00:41:00,click,518.860086,4.0,NaN
15,16,66,M,2021-05-25,2024-11-14,NaT,US,City_336,user16@example.com,1.414761e+10,pro,53.19,NaN,2020-12-20 11:26:00,login,235.391323,NaN,NaN
16,17,48,F,2019-09-24,2020-10-16,NaT,US,City_7230,NaN,NaN,NaN,54.40,INR,2023-01-31 03:48:00,ERROR,628.769202,4.0,Great service
17,18,24,F,2022-06-15,2023-12-31,NaT,CA,City_6936,NaN,NaN,pro,46.10,INR,2020-08-12 16:21:00,logout,298.485780,NaN,NaN
18,19,69,F,2015-07-30,2016-04-05,NaT,NaN,City_5044,user19@example.com,1.402160e+10,NaN,35.21,USD,2023-08-16 20:13:00,logout,420.852723,4.0,NaN
19,20,-999,F,2019-04-01,2019-09-19,NaT,NaN,City_6451,user20@example.com,1.651897e+10,basic,92.38,INR,2018-01-22 08:17:00,ERROR,329.236584,4.0,NaN